body {
    background-color: #201f1c;
}


/*---------------------------------- NAVBAR ----------------------------------*/

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.navbar {
    background-color: #201f1c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link{
    color: #ffffff;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    color: #fff;
  }


/*-------------------------------- MAIN SECTION -------------------------------*/

.plananddiet{
    color: #ff331f;
}

.hero-section {
    padding: 100px 0;
    background-color: #201f1c;
    text-align: center;
}
.hero-section h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}
.age-block {
    margin: 10px 0;
    text-align: center;
    cursor: pointer; /* Курсор в виде указателя */
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
    position: relative; /* Для эффекта поднятия */
    overflow: hidden; /* Для анимации псевдоэлемента */
}

.age-block:hover {
    transform: translateY(-5px); /* Поднятие кнопки */
    box-shadow: 0 8px 16px rgba(255, 51, 31, 0.3); /* Тень */
}

.age-block::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2); /* Белый полупрозрачный цвет */
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    pointer-events: none; /* Чтобы не мешать кликам */
}


.age-block img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.age-block p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px 0;
}
.consent-text {
    margin-top: 50px;
    font-size: 1rem;
    color: #69616f;
}
.consent-text a {
    color: #69616f;
    text-decoration: underline;
}
.consent-text a:hover {
    text-decoration: none;
}

/*------------------------------ FOOTER -------------------------------*/

footer {
    background-color: #201f1c;
    padding: 40px 0;
    border-top: 1px solid #69616f;
}
footer h5 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
footer p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #666;
}
footer a {
    color: #666;
    text-decoration: underline;
}
footer a:hover {
    color: #69616f;
    text-decoration: none;
}
.footer-section {
    margin-bottom: 30px;
}
.footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}